Data/datensatz/browsing.csv
Data/datensatz/browsing_clean.csv
testD.py
d.txt
Auswertung/
Auswertung
Auswertung/paretoKneepoint.py
daten_mapping.py
trackerOLD.py
Data/datensatz/whotracksme/
tests


__pycache__
__pycache__/
Funktionen/__pycache__
Funktionen/__pycache__/
Funktionen/pseudonym/__pycache__
Funktionen/auswertung/__pycache__
Funktionen/pseudonym/__pycache__/
Funktionen/auswertung/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd


.DS_Store
.vscode/

Funktionen/auswertung/
Funktionen/auswertung

auswertung.ipynb

run.py
sim_auswertung.ipynb
Verkettung.ipynb