Data/datensatz/browsing.csv
Data/datensatz/browsing_clean.csv
testD.py
d.txt
daten_mapping.py
trackerOLD.py
Data/datensatz/whotracksme/
tests
testxs
test/

Auswertungen
varianceCheckSimulation.py
varianceCheckVerkettung.py
variance_check/

__pycache__
__pycache__/
Funktionen/__pycache__
Funktionen/__pycache__/
Funktionen/pseudonym/__pycache__
Funktionen/auswertung/__pycache__
Funktionen/pseudonym/__pycache__/
Funktionen/auswertung/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd
.tranco/

.DS_Store
.vscode/

Funktionen/auswertung/
Funktionen/auswertung


run.py
sim_auswertung.ipynb
Verkettung.ipynb
re_identifikation.ipynb

Data/ergebnisse/raw_sweeps
Data/ergebnisse/raw_sweeps
Data/ergebnisse/variance_check
Data/ergebnisse1/raw_sweeps_mit_days
Data/ergebnisse1/raw_sweeps_ohne_days
Data/ergebnisse1/variance_check
Data/ergebnisse1/


Data/ergebnisse_tracker_mapping/
Data/ergebnisse_tracker_mapping

days.py
test.py

# macOS
.DS_Store
._*

# Jupyter Notebooks
.ipynb_checkpoints/