pandas>=2.0.0
numpy>=1.24.0
scipy>=1.10.0
requests>=2.31.0
matplotlib
jinja2
ipykernel
scikit-learn
jupyterlab
# nicht mehr notwendig war nur für den alten whotracksme datensatz
# whotracksme==2018.5.17
# setuptools<70.0.0